class MyConfig:

    def __init__(self):
        self.MYSQL = {"port": 3306,
                      "user": "root",
                      "password": "footloose12",
                      "host": '127.0.0.1'}
