<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project Group Recommender</title>
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
</style>
</head>
  <body>
    <div class="form-group">
      <form name="submitEmail" method="POST">
        <div class="form-group col-sm">
          <label for="exampleInputEmail1">Email address</label>
          <input name="text" type="email" class="form-control" id="exampleInputEmail2" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="mx-sm-3">
          <button type="submit" class="btn btn-primary mb-2">Submit</button>
        </div>
      </form>
    </div>
  </body>
</html>

<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project Group Recommender</title>
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
</style>
</head>
  <body>
    <div class="form-group">
      <form name="submitEmail" method="POST">
        <div>
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail2" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </body>
</html> -->



<!-- <form name="submitEmail" method="POST">
  <input name="text">
  <input type="submit" value="submit email">
</form> -->
