<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project Group Recommender</title>
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
    <style>
      .boxed {
        border: 4px solid green;
        margin: 4px
      }
</style>
</head>
  <body>
    <div>
      <strong>{{ searcher_text }}</strong>
    </div>
    <div>
        {% for user in users %}
        <div class="boxed">
          {{ user.username }} <br>
          <a href="{{ user.email }}">{{ user.email }}</a><br>
          {{ user.phonenumber }} <br>
          <strong>Skills:</strong>
          {% for skill in user.skills %}
            {{ skill }}
          {% endfor %}
        </div>
        {% endfor %}
    </div>
    <div>
      <a href="/"><input type="button" value="Try Again"></a>
    </div>
  </body>
</html>
